//-------------------------------COLORS---------------------------------
$primaryColor: #fafafa;
$primaryDark:  #fafafa;
$primaryLight: #FAFAFA;

$secondaryColor: #131417;
$secondaryColorDark: #202020;
$secondaryColorLight: #1E1F26;

$accentColor: #2cddce;
$accentColorDark: #272021;
$accentColorLight: #77623b;;

$white:  #FAFAFA;
//-------------------------------COLORS---------------------------------


//-------------------------------FONTS---------------------------------
@font-face {
    font-family: "Poppins";
    font-style: normal;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: "bold";
    font-style: normal;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
  }
//-------------------------------FONTS---------------------------------

//-------------------------------MULTI PURPOSE CSS---------------------------------

body{
  background-color: $secondaryColor;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";

  }
  

.bigHeader {
  font-family: "bold";
  font-size: 60px;
  text-align: center;
  color: $primaryColor;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.mainButton{
  width: fit-content;
  height:fit-content;
  background-color: rgb(25, 164, 219);
  border: 0px;
  font-size: 20px;
  padding: 10px 30px;
  color: $primaryColor;
  margin: 10px 10px;
  border-radius: 30px;
  cursor: pointer;

}
button:hover{
  opacity: 0.9;
}


//-------------------------------MULTI PURPOSE CSS---------------------------------


//-------------------------------IMPORTS---------------------------------

@import "_index.scss";
@import "_details.scss";
@import "_testStyle.scss";
//-------------------------------IMPORTS---------------------------------
